<footer bs-footer>
    <p bs-text="copyright">© 2015 - <a href="http://browsersync.io">BrowserSync</a> |
        <a href="https://www.github.com">
            {{ inc src="icon.hbs" icon="github" }}
        </a>
    </p>
</footer>