<aside bs-controls="top">
    <div bs-flex="top">

        <!--<div bs-flex-fill>-->
            <!--<a href="#" target="_blank" bs-control title="Open a new tab">-->
                <!--http://localhost:3000-->
            <!--</a>-->
            <!--<a href="#" target="_blank" bs-control title="Open a new tab">-->
                <!--http://192.168.0.4:3000-->
            <!--</a>-->
            <!--<a href="#" target="_blank" bs-control title="Open a new tab">-->
                <!--http://12345.localtunnel.me-->
            <!--</a>-->
        <!--</div>-->
        <a href="#" bs-control title="Reload all Browsers">
            {{ inc src="icon.hbs" icon="repeat" }}<br/>
            Reload all
        </a>
        <a href="#" target="_blank" bs-control title="Open a new tab">
            {{ inc src="icon.hbs" icon="square-add" }}<br>
            New Tab
        </a>
        <a href="#" bs-control title="Reset the scroll position of all browsers to 0">
            {{ inc src="icon.hbs" icon="square-up" }}<br>
            Scroll Top
        </a>
        <a href="#" bs-control title="Reset all Browsers to Homepage">
            {{ inc src="icon.hbs" icon="home" }}<br>
            Reset All
        </a>
    </div>
</aside>