<aside bs-controls="top">
    <div bs-flex="top">
        <a href="#" bs-control title="Open a new tab">
            <i bs-icon="square_add"></i><br/>
            New Tab
        </a>
        <a href="#" bs-control title="Reload all Browsers">
            <i bs-icon="repeat_2"></i><br/>
            Reload all
        </a>
    </div>
</aside>