<aside bs-controls="top">
    <div bs-flex="top">

        <!--<div bs-flex-fill>-->
            <!--<a href="#" target="_blank" bs-control title="Open a new tab">-->
                <!--http://localhost:3000-->
            <!--</a>-->
            <!--<a href="#" target="_blank" bs-control title="Open a new tab">-->
                <!--http://192.168.0.4:3000-->
            <!--</a>-->
            <!--<a href="#" target="_blank" bs-control title="Open a new tab">-->
                <!--http://12345.localtunnel.me-->
            <!--</a>-->
        <!--</div>-->

        <a href="#" bs-control title="Reload all Browsers">
            <i bs-icon="repeat_2"></i><br/>
            Reload all
        </a>
        <a href="#" bs-control title="Reload all Browsers">
            <i bs-icon="home"></i><br/>
            Reset all
        </a>
    </div>
</aside>