<section>
    <div bs-panel-content>
        <p>
            <button id="create-server" bs-button="size-small subtle-alt icon-left">
                <svg bs-svg-icon="" icon="circle-ok" bs-state="success"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-circle-ok"></use></svg>
                <svg bs-svg-icon="" icon="circle-plus" bs-state="default"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-circle-plus"></use></svg>
                New Replacement
            </button>
        </p>
        <div>
            <p bs-label-heading=""><b>Current Replacements</b></p>
            <ul bs-list="bordered inline-controls leading-controls" ng-repeat="rule in ctrl.plugin.rules">
                <li style="border-bottom: 0;" bs-input="text">
                    <span bs-tag>Match <span>{{rule.match.type}}</span></span>
                    <p bs-text="mono">{{rule.match.input}}</p>
                    <div bs-button-group="">
                        <button href="#" bs-button="subtle-alt icon" ng-click="ctrl.toggleState(rule)" class="ng-click-active">
                            <icon icon="circle-pause" ng-show="rule.active"></icon>
                            <icon icon="circle-play" ng-show="!rule.active"></icon>
                        </button>
                        <button href="#" bs-button="subtle-alt icon" ng-click="ctrl.removeRule(rule)" class="ng-click-active">
                            <icon icon="bin"></icon>
                        </button>
                    </div>
                </li>
                <li>
                    <span bs-tag>Replace<span>{{rule.replace.type}}</span></span>
                    <p bs-text="mono">{{rule.replace.input}}</p>
                </li>
            </ul>
        </div>
    </div>
</section>
