<p>Default button styles</p>
<p>
    <button bs-button>New Tab</button> <button bs-button>Sync all</button>
</p>
<hr/>
<h2>Buttons with Icons</h2>
<p>
    <a href="#" bs-button="icon icon-left">
        {{ inc src="icon.hbs" icon="square-add" }}
        new tab
    </a>
    <a href="#" bs-button="icon icon-left">
        {{ inc src="icon.hbs" icon="target" }}
        new tab
    </a>
</p>
