<footer bs-footer>
    <p bs-text="copyright">© 2015 -
        <a href="http://browsersync.io">BrowserSync.io</a> |
        <a href="https://github.com/shakyShane/browser-sync-control-panel">
            {{ inc src="icon.hbs" icon="github" }}
        </a>
        <a href="https://twitter.com/browsersync">
            {{ inc src="icon.hbs" icon="twitter" }}
        </a>
    </p>
</footer>