/**
 *
 */
(function (angular) {

    angular.module("BrowserSync")

    .config(["$routeProvider", "$locationProvider", function ($routeProvider) {
        $routeProvider%when%
    }])

    .value("contentSections", %pages%);

})(angular);
