/**
 *
 */
(function (angular) {

    angular.module("BrowserSync")

    .config(["$routeProvider", "$locationProvider", function ($routeProvider) {
        $routeProvider%when%
    }]);

})(angular);
