---
layout: components.hbs
title: "Components"
sections:
    - name: "Typography"
      file: "_components/type.hbs"
    - name: "Buttons"
      file: "_components/buttons.hbs"
    - name: "Headings"
      file: "_components/heading.hbs"
---
{{ inc src="../img/icons/svg/symbols.svg" }}
<div class="tube">

    <h1>BrowserSync UI Components</h1>

    <hr/>

    {{#each page.sections}}
        <h1>{{this.name}}</h1>
        {{inc src=this.file title=this.name }}
        <hr/>
    {{/each}}

</div>
