<header bs-header role="banner">
    <a href="http://www.browsersync.io" title="Visit the BrowserSync.io website" class="icon icon-logo">
        <svg>
            <use xlink:href="#svg-logo"></use>
        </svg>
    </a>
    <span class="icon icon-word">
        <svg>
            <use xlink:href="#svg-logo-word"></use>
        </svg>
    </span>
    <span bs-toggle="nav" ng-click="toggleMenu()">
        <i bs-icon="list"></i>
    </span>
</header>