---
layout: main.hbs
title: "History"
icon: "book_2"
urls:
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
    - /store-home.php
---
<div bs-callout="controls outline">
    <h1 bs-heading><i bs-icon="{{page.icon}}"></i> {{page.title}}</h1>
    <button bs-button="inline">
        <i bs-icon="circle_delete"></i>
        Clear all
    </button>
</div>
<div>
    <ul bs-list="bordered swipe">
        {{#each page.urls}}
        <li>
            <button bs-remove><i bs-icon="bin"></i></button>
            /store-home.php
            <span bs-multi="right">
                <a href="#" bs-button>new tab</a>
                <a href="#" bs-button>sync all</a>
            </span>
        </li>
        {{/each}}
    </ul>
</div>