---
layout: main.hbs
title: "History"
icon: "book_2"
---
<h1 bs-heading><i bs-icon="{{page.icon}}"></i> {{page.title}}</h1>
<div bs-callout="controls outline">
    <button bs-button="inline">
        <i bs-icon="circle_delete"></i>
        Clear all
    </button>
</div>
<div>
    <ul bs-list="bordered swipe">
        <li>/</li>
        <li>
            <button bs-remove><i bs-icon="bin"></i></button>
            /store-home.php
            <span bs-multi="right">
                <button>new tab</button>
                <button>sync all</button>
            </span>
        </li>
        <li>
            <button bs-remove><i bs-icon="bin"></i></button>
            /blog/building-browser-sync-ui/javascript/nodejs/2014
            <span bs-multi="right">
                <button>new tab</button>
                <button>sync all</button>
            </span>
        </li>
        <li class="active">
            <button bs-remove><i bs-icon="bin"></i></button>
            /store-product.php
            <span bs-multi="right">
                <button>new tab</button>
                <button>sync all</button>
            </span>
        </li>
    </ul>
</div>