<section bs-sidebar="">
    <nav bs-section-nav="" class="">
        <ul bs-list="">
            <li>
                <button bs-button="nav">
                    <i bs-icon="cog"></i> Server Info
                </button>
            </li>
            <li>
                <button bs-button="nav" class="active">
                    <i bs-icon="repeat_2"></i> Sync Options
                </button>
            </li>
            <li>
                <button bs-button="nav">
                    <i bs-icon="book_2"></i> History
                </button>
            </li>
            <li>
                <button bs-button="nav">
                    <i bs-icon="plug"></i> Plugins
                </button>
            </li>
            <li bs-action="menu-close">
                <button bs-button="nav" ng-click="toggleMenu()"><i bs-icon="close"></i> CLOSE</button>
            </li>
        </ul>
    </nav>
</section>