---
layout: main.hbs
title: "Server Info"
---
<h1 bs-heading><i bs-icon="cog"></i> {{page.title}}</h1>
<div>
    <section bs-callout="">
        <div bs-callout-content="" bs-flex="">
            <div>
                <div bs-callout-icon="">
                    <i bs-icon="imac"></i>
                </div>
            </div>
            <div bs-flex-item="text" bs-width="50">
                <p bs-text="lede">Local</p>

                <p bs-text="controls">
                    <a href="#">new tab</a> |
                    <a href="#">sync all</a>
                </p>
            </div>
            <div bs-flex-item="action" bs-width="50">
                <p>http://localhost:3000</p>
            </div>
        </div>
    </section>
    <section bs-callout="">
        <div bs-callout-content="" bs-flex="">
            <div>
                <div bs-callout-icon="">
                    <i bs-icon="wifi_3"></i>
                </div>
            </div>
            <div bs-flex-item="text" bs-width="50">
                <p bs-text="lede">External</p>

                <p bs-text="controls">
                    <a href="#">new tab</a> |
                    <a href="#">sync all</a>
                </p>
            </div>
            <div bs-flex-item="action" bs-width="50">
                <p>http://192.168.0.1:3000</p>
            </div>
        </div>
    </section>
    <section bs-callout="last">
        <div bs-callout-content="" bs-flex="">
            <div>
                <div bs-callout-icon="">
                    <i bs-icon="globe"></i>
                </div>
            </div>
            <div bs-flex-item="text" bs-width="50">
                <p bs-text="lede">Tunnel</p>

                <p bs-text="controls">
                    <a href="#">new tab</a> |
                    <a href="#">sync all</a>
                </p>
            </div>
            <div bs-flex-item="action" bs-width="50">
                <p>http://htgweed.localtunnel.me</p>
            </div>
        </div>
    </section>
    <section>
        <div bs-callout="">
            <div bs-callout-icon="">
                <i bs-icon="terminal"></i>
            </div>
            <div bs-callout-content="">
                <p bs-text="lede">Serving files from</p>
                <ul bs-list="">
                    <li>/Users/shakyshane/Sites/browser-sync-modules/browser-sync-cp/test/fixtures</li>
                </ul>
            </div>
        </div>
    </section>
</div>