<div bs-input>
    <label for="grid-size"><b>Grid Size</b> <span bs-input-info="offset">eg:
        <code>10px</code> <code>1.2em</code>
    </span></label>
    <input id="grid-size" type="text" size="20" value="20px"/>
</div>
<div bs-input>
    <label for="grid-selector"><b>Selector</b> <span bs-input-info="offset">eg:
        <code>.post-content</code> <code>.site-header</code>
    </span>
    </label>
    <input id="grid-selector" type="text" size="20" value=".site-header"/>
</div>
<div bs-input>
    <label for="grid-color"><b>Input with offset help</b> <span bs-input-info="offset">eg:
        <code>rgba(0,0,0,.2)</code> <code>#cacaca</code></span></label>
    <input id="grid-color" type="text" size="20" value="#808080"/>
</div>
<div bs-input>
    <label for="grid-color"><b>Input with offset help</b> <span bs-input-info="offset">eg:
        <code>rgba(0,0,0,.2)</code> <code>#cacaca</code></span></label>
    <input id="grid-color" type="text" size="20" value="#808080"/>
</div>
