<div bs-input-item>
    <label for="{{$_ "kebabCase" title}}" bs-input-label>{{title}}</label>
    <div bs-input>
        <input id="{{$_ "kebabCase" title}}" type="text" size="{{value}}" value="{{value}}"/>
    </div>
</div>