---
layout: main.hbs
title: "Help"
icon: "help"
---
<div bs-panel="controls outline">
    <h1 bs-heading>{{ inc src="icon.hbs" icon=page.icon }} {{page.title}}</h1>
</div>
<div bs-panel>
    <div bs-panel-content="basic">
        <p>Sup</p>
    </div>
</div>