<switch toggle="ctrl.togglePlugin(ctrl.ui.named['%name%'])"
        switchid="sync-options-%index%"
        active="ctrl.ui.named['%name%'].active"
        prop="active"
        item="ctrl.ui.named['%name%']">%content%</switch>