$input-height: 40px;

%base-input {

    outline: none;
    vertical-align: middle;
    border-radius: $base-radius;
    outline: 0;
    height: $input-height;
    padding-left: $half-spacing;
    padding-right: $half-spacing;
    max-width: 100%;
    font-family: $sans-light;

    @extend %panel;
}

/*
 * Basic Inputs
 */
button,
input,
select,
textarea {
    @extend %base-input
}

[bs-Input] { } 
[bs-Input~="darker"] {
    background: $green-dk;
    color: $white;
    border-color: $green-dk;
}

[bs-Input-Overlay] {

    width: 100%;
    position: relative;

    input {
        width: 100%;
    }

    [bs-Button] {
        top: 0;
        right: 0;
        z-index: 1;
        position: absolute;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        top: 1px;
        height: $input-height - 2px;

        .icon {
            top: -2px;
        }
    }

    [bs-Button~="inverted"] {
        border-top: 0;
        border-bottom: 0;
    }

    [bs-Button-Bar] {

        position: absolute;
        top: 0;
        right: 0;

        [bs-Button] {
            position: relative;
            &:first-child {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }
}
